#root {
  margin: 0 auto;
  padding: 5rem;
  padding-top: 5rem;
  text-align: center;
  background-image: linear-gradient(60deg, #5593c6, #6ab7ae 50%, #5593c6);
  min-height: 100vh;
  display: flex;
  color: white;
}